*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 20px auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
.teaser__panel {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #f62f61;
  color: #ffffff;
}
.teaser__element {
  margin: 20px;
  display: flex;
  gap: 10px;
  padding-right: 20px;
}
.teaser__element span {
  font-size: 13px;
}

@media (max-width: 1024px) {
  .teaser__element--hidden {
    display: none;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
.header__menu-link {
  color: #2c2e35;
}
.header__menu-link--sale {
  font-weight: bold;
  color: #f62f61;
}
.header__menu-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 103px;
  flex-wrap: wrap;
}

.header__menu-link,
.header__menu-link--sale {
  text-decoration: none;
  cursor: pointer;
}

.header__account-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.header__account--hidden {
  display: none;
}
.header__account--search-input {
  height: 48px;
  width: 228px;
  border: 1px solid #e3e3e3;
  border-radius: 80px;
  font-size: 16px;
  outline: none;
  background-color: #ffffff;
}
.header__account--search-input::placeholder {
  color: #9aa0a6;
  padding-left: 20px;
}

@media (max-width: 1024px) {
  .header__menu--hidden,
  .newsletter__image--hidden {
    display: none;
  }
  .header__account--hidden {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .header {
    justify-content: center;
  }
  .header__menu-list,
  .header__account-list {
    justify-content: center;
  }
}
.newsletter {
  padding: 0 100px;
  display: flex;
  background-color: #f62f61;
  color: #ffffff;
  border-radius: 16px;
  margin: 20px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.newsletter__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter__content {
  display: flex;
  flex-direction: column;
}
.newsletter__content--promo {
  font-size: 24px;
}
.newsletter__content--promo--value {
  font-size: 30px;
}
.newsletter__text {
  font-size: 13px;
  font-weight: 300;
  max-width: 500px;
}
.newsletter__email {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.newsletter__input {
  position: relative;
}
.newsletter__input button {
  position: absolute;
  top: 29%;
  right: 30px;
}
.newsletter__checkbox {
  display: flex;
  font-size: 10px;
  gap: 10px;
}
.newsletter__checkbox p a {
  color: #ffffff;
}

.newsletter__email-input {
  height: 48px;
  border: 1px solid #e3e3e3;
  border-radius: 80px;
  font-size: 16px;
  outline: none;
  background-color: #ffffff;
  width: 340px;
}
.newsletter__email-input::placeholder {
  color: #9aa0a6;
  padding-left: 20px;
}

@media (max-width: 1024px) {
  .newsletter__checkbox--hidden,
  .newsletter__image--hidden {
    display: none;
  }
}
@media (max-width: 768px) {
  .newsletter {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  background-color: #f6f6f6;
  margin: 20px;
  padding: 0 50px;
  border-radius: 16px;
  height: 430px;
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.footer__contact h3 {
  font-size: 15px;
}
.footer__contact :nth-of-type(2) {
  font-size: 13px;
}
.footer__contact :nth-of-type(3) {
  font-size: 13px;
}

@media (max-width: 1024px) {
  .footer {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
