.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}
.category__photo--big,
.category__photo--small {
  display: flex;
  justify-content: center;
}

.category__photo--big img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  overflow: hidden;
}

.category__photo--small img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  overflow: hidden;
  object-fit: cover;
}

@media (max-width: 768px) {
  .categories {
    display: flex;
    flex-direction: column;
  }
}
