.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 20px 10px 20px;
  &__menu {
    &-link {
      color: #2c2e35;

      &--sale {
        font-weight: bold;
        color: #f62f61;
      }
    }

    &-list {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      flex-wrap: wrap;
    }
  }
}

.header__account {
  &-icons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &-item--searchbar {
    position: relative;

    img {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }

  &-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  &--hidden {
    display: none;
  }

  &--search-input {
    height: 48px;
    width: 228px;
    border: 1px solid #e3e3e3;
    border-radius: 80px;
    font-size: 16px;
    outline: none;
    background-color: #ffffff;
    padding-left: 20px;

    &::placeholder {
      color: #2c2e35;
    }
  }
}

.header__menu-link,
.header__menu-link--sale {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .header {
    padding-bottom: 20px;
    flex-wrap: wrap;
  }

  .header__account {
    &-item--searchbar {
      align-items: center;
      justify-content: center;
      order: 1;
      margin: auto;
      flex: 1;
      width: 100%;
      position: relative;
    }

    &--search-input {
      margin: auto;
      min-width: 100%;
    }
  }

  .header__menu--hidden,
  .newsletter__image--hidden {
    display: none;
  }

  .header__account--hidden {
    display: inline-block;
  }
}
