.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  &__menu {
    &-link {
      color: #2c2e35;
      &--sale {
        font-weight: bold;
        color: #f62f61;
      }
    }
    &-list {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 103px;
      flex-wrap: wrap;
    }
  }
}
.header__menu-link,
.header__menu-link--sale {
  text-decoration: none;
  cursor: pointer;
}
.header__account {
  &-item--searchbar {
    position: relative;
    img {
      position: absolute;
      top: 13px;
      right: 15px;
    }
  }
  &-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  &--hidden {
    display: none;
  }
  &--search-input {
    height: 48px;
    width: 228px;
    border: 1px solid #e3e3e3;
    border-radius: 80px;
    font-size: 16px;
    outline: none;
    background-color: #ffffff;

    &::placeholder {
      color: #9aa0a6;
      padding-left: 20px;
    }
  }
}
@media (max-width: 1024px) {
  .header__menu--hidden,
  .newsletter__image--hidden {
    display: none;
  }

  .header__account--hidden {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .header {
    justify-content: center;
  }
  .header__menu-list,
  .header__account-list {
    justify-content: center;
  }
}
