.newsletter {
  padding: 0 100px;
  display: flex;
  background-color: #f62f61;
  color: #ffffff;
  border-radius: 16px;
  margin: 20px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    &--promo {
      font-size: 24px;
      &--value {
        font-size: 30px;
      }
    }
  }
  &__text {
    font-size: 13px;
    font-weight: 300;
    max-width: 500px;
  }
  &__email {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &__checkbox {
    display: flex;
    font-size: 10px;
    p a {
      color: #ffffff;
    }
  }
}

.newsletter_email-input {
  height: 48px;
  border: 1px solid #e3e3e3;
  border-radius: 80px;
  font-size: 16px;
  outline: none;
  background-color: #ffffff;

  &::placeholder {
    color: #9aa0a6;
    padding-left: 20px;
  }
}
@media (max-width: 1024px) {
  .newsletter__checkbox--hidden,
  .newsletter__image--hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  .newsletter {
    padding: 10px;
  }
}
