.slider {
  margin: 0 20px;
}
.slick-track {
  display: flex !important;
  height: 520px;
}
.slick-slide {
  display: flex !important;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 80px 80px 80px;
}
.slide {
  background-image: url("../../assets/slider-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: aliceblue;
  border-radius: 16px;
  &__text {
    h3 {
      font-size: 40px;
      line-height: 62px;
      font-weight: 900;
    }
    h4 {
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      max-width: 580px;
    }
  }
  &__button button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    background-color: inherit;
    border-radius: 8px;
    border: 1px solid #ffffff;
    padding: 8px 16px;
    color: #ffffff;
  }
}

@media (max-width: 1024px) {
  .slick-slide {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
    margin-bottom: 20px;
  }
  .slide {
    &__text {
      h3 {
        font-size: 28px;
        font-weight: 900;
        line-height: 33.89px;
        text-align: left;
      }
      h4 {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
        margin-bottom: 20px;
      }
    }
  }
}
