.slider {
  margin: 20px;
}
/* Marginem i paddingiem steruję wysokością */
.slide_1,
.slide_2 {
  background-image: url("../../assets/slider-image.svg");
  background-size: cover;
  color: aliceblue;
  padding: 220px 0;
  border-radius: 16px;
  object-fit: cover;
  fit &__text {
    h3 {
      font-size: 40px;
      line-height: 62px;
      font-weight: 900;
    }
    h4 {
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      max-width: 580px;
    }
  }
  &__button button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    background-color: inherit;
    border-radius: 8px;
    border: 1px solid #ffffff;
    padding: 8px 16px;
    color: #ffffff;
  }
}
@media (max-width: 768px) {
  .slide_1 {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
