*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

// teaser Panel
.teaser__panel{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #F62F61;
  color: #FFFFFF;
}
.teaser__element{
  margin: 20px;
  display: flex;
  gap: 10px;
  padding-right: 20px;
    span {
      font-size: 13px;
    }
}

// Container
.container {
  max-width: 1200px; 
  margin: 20px auto;    
  padding: 20px;    
}

// Header
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  
}
.header__menu-list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.header__menu-link, .header__menu-link--sale{
  text-decoration: none;
  color: #2C2E35;
  cursor: pointer;
}
.header__menu-link--sale{
  font-weight: bold;
  color: #F62F61;
}

.header__account-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.header__account--hidden{
  display: none;
}

// Media Queries
@media (max-width: 1024px) {
  .teaser__element--hidden, .header__menu--hidden{
    display: none;
  }
  .header__account--hidden{
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .header {
    justify-content: center;
  }
  .header__menu-list, .header__account-list {
    justify-content: center;
  }
}
